* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 231, 231);
}

nav {
    width: 100%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    z-index: 10;
}

.logo img {
    height: 40px;
    position: relative;
    display: block;
    margin-left: -300px
}

.center-logo img {
    left: 50%;
    transform: translateX(-55%);
    height: 100px; /* Ajuste conforme o tamanho desejado */
}

.icons ion-icon {
    font-size: 24px;
    color: white;
    margin: 0 10px;
}

.slide {
    height: 100%;
    width: 310px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s ease;
    transform: translateX(-300px);
    top: 73px;
    z-index: 11;
    margin-left: -30px;
}

.slide ul li {
    list-style: none;
}

.slide ul li a {
    color: #fff;
    margin-left: 20px;
    font-weight: 300;
    padding: 20px 0;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}

.slide ul li a:hover {
    transform: translateX(10px);
}


.botao {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

input {
    display: none;
}

.toggle {
    position: fixed;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
}

.toggle .commom {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: white;
    transition: 0.3s ease;
}

.toggle .top_line { top: 30%; }
.toggle .middle_line { top: 50%; }
.toggle .bottom_line { top: 70%; }

input:checked ~ .toggle .top_line {
    transform: rotate(45deg) translate(5px, 5px);
}

input:checked ~ .toggle .bottom_line {
    transform: rotate(-45deg) translate(5px, -5px);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
}

input:checked ~ .slide {
    transform: translateX(0);
}

.banner {
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5));
}

.navigation {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
}

.nav-left, .nav-right {
    font-size: 2rem;
    color: white;
    cursor: pointer;
    user-select: none;
}

.pagination {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.dot.active {
    opacity: 1;
}
