* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 231, 231);
}

nav {
    width: 100%;
    height: 10%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    z-index: 10;
}

.center-logo img {
    position: absolute;
    display: flex;
    justify-content: center;
    top: -4%;
    height: 100%; /* Ajuste conforme o tamanho desejado */
}

.icons ion-icon {
    font-size: 100%;
    color: white;
    margin: 0 10px;
}

.slide {
    height: 100%;
    width: 20%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    transition: 0.5s ease;
    transform: translateX(-300px);
    top: 10%;
    z-index: 11;
    margin-left: -30px;
}

.slide ul li {
    list-style: none;
}

.slide ul li a {
    color: #fff;
    margin-left: 20px;
    font-weight: 300;
    padding: 20px 0;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}

.slide ul li a:hover {
    transform: translateX(10px);
}

.content {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #fff;
}

.subtitulo {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 300;
}

.subtitulo2 {
    position: relative;
    top: 30%;
    right: 20%;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}

.subtitulo3 {
    position: relative;
    top: 43%;
    right: 63%;
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
}

.titulo {
    margin-top: 10px;
    font-size: 48px;
    font-weight: 700;
}

.botao {
    padding: 10px 20px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
}

.botao2 {
    padding: 11px 10px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 32, 32);
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
}

.botao:hover, .botao2:hover {
    opacity: 0.7;
}

input {
    display: none;
}

.toggle {
    position: fixed;
    height: 30px;
    width: 30px;
    top: 2.5%;
    left: 1.5%;
    z-index: 1;
    cursor: pointer;
}

.toggle .commom {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: white;
    transition: 0.3s ease;
}

.toggle .top_line { top: 30%; }
.toggle .middle_line { top: 50%; }
.toggle .bottom_line { top: 70%; }

input:checked ~ .toggle .top_line {
    transform: rotate(45deg) translate(3.5px, 5px);
}

input:checked ~ .toggle .bottom_line {
    transform: rotate(-45deg) translate(3.5px, -5px);
}

input:checked ~ .toggle .middle_line {
    opacity: 0;
}

input:checked ~ .slide {
    transform: translateX(0);
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner2 {
    position: relative;
    top: 900px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner3 {
    position: relative;
    top: 730px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#background-video2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

